/*Comienzo estilos generales    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#000;
    .text-right{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        text-decoration: none;
    }
    a{
        color: $color2;
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
        color: $color4;
    }
    .title{
        font-family: $font1;
        color: black;
        margin-bottom: 30px;
    }
    .text-center{
        font-size: 30px;
    }
    body{
        background-image: url(../Imagenes/fondo1.jpeg);
        background-size: cover;
        background-attachment: fixed;
    }
    /* INICIO FOOTER */
    footer{
        margin-top: 300px;
        font-family: $font3;
        text-align: center;
        h3{
            font-size: 15px;
        }
        .redes{
            display: flex;
            justify-content: center;
            font-size: $size1;
            letter-spacing: $size1 - 5;
            margin-top: $size1;
            margin-bottom: $size1 + 30 ;
            }
        .redes a{
            color: $color2;
        }
    } /* FIN FOOTER */
} /*fin de estilos generales*/
