/*  inicio de nosotros */
.about-us{
    text-align: center;
    color: $color2;
    font-family: $font6;
    .general{
        color: $color2;
        font-family: $font6;
    }
}
/*fin de nosotros*/